.MatchSmallCard{
  padding: .8rem;
  border-radius: 3px;

  .match-date{
    margin-top: 10px;
    font-style: italic;
    font-size: small;
  }

  .team-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 130%;

  }
  .team-name {

  }

  a {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
  }



}