.App {
  padding: 20px;
  text-align: left;
}
.won-card{
  background-color: rgba(39, 175, 39, 0.7);
  color: white;
}
.lost-card{
  background-color: rgba(239, 75, 75, 0.91);
  color: white;
}
.draw-card{
  background-color: #afafaf;
  color: white;
}
