@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: #ffffff;
  font-family: 'Lato Bold 900', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
